<section id="get-started" class="content-section flex-grow-1 d-flex flex-column justify-content-center">
    <div class="container mt-4">
        <!-- Tabs -->
        <ul class="nav nav-tabs mb-4" id="reservationTabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#upcoming">Upcoming Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#past">Past Reservations</a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content">
            <!-- Upcoming Reservations -->
            <div class="tab-pane fade show active" id="upcoming">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-primary">
                        <tr>
                            <th style="width: 10%;">Building</th>
                            <th style="width: 10%;">Room</th>
                            <th style="width: 10%;">Seats</th>
                            <th style="width: 15%;">Start Date & Time</th>
                            <th style="width: 15%;">End Date & Time</th>
                            <th style="width: 20%;">Credited Students</th>
                            <th style="width: 15%;">Purpose</th>
                            <th style="width: 10%;">Status</th>
                            <th style="width: 10%;">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="upcomingReservationsBody">
                        {{#each upcomingReservations}}
                            <tr data-id="{{this.id}}">
                                <td>{{this.building}}</td>
                                <td>{{this.room}}</td>
                                <td>{{this.seats}}</td>
                                <td>{{this.start_datetime}}</td>
                                <td>{{this.end_datetime}}</td>
                                <td>
                                    {{#if this.isAnonymous}}
                                        Anonymous
                                    {{else}}
                                        {{#each this.creditedStudents}}
                                            <a href="/api/profile/{{this.universityID}}">{{this.fullName}}</a>{{#unless @last}}, {{/unless}}
                                        {{/each}}
                                    {{/if}}
                                </td>
                                <td>{{this.purpose}}</td>
                                <td><span class="badge bg-success">Reserved</span></td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a href="/api/manage-reservations/edit/{{this.id}}" class="btn btn-warning btn-sm me-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-danger btn-sm cancel-btn" onclick="cancelReservation('{{this.id}}')">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <td colspan="9" class="text-center">No upcoming reservations found.</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Past Reservations -->
            <div class="tab-pane fade" id="past">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-secondary">
                        <tr>
                            <th style="width: 10%;">Building</th>
                            <th style="width: 10%;">Room</th>
                            <th style="width: 10%;">Seats</th>
                            <th style="width: 15%;">Start Date & Time</th>
                            <th style="width: 15%;">End Date & Time</th>
                            <th style="width: 20%;">Credited Students</th>
                            <th style="width: 15%;">Purpose</th>
                            <th style="width: 10%;">Status</th>
                        </tr>
                        </thead>
                        <tbody id="pastReservationsBody">
                        {{#each pastReservations}}
                            <tr data-id="{{this.id}}">
                                <td>{{this.building}}</td>
                                <td>{{this.room}}</td>
                                <td>{{this.seats}}</td>
                                <td>{{this.start_datetime}}</td>
                                <td>{{this.end_datetime}}</td>
                                <td>
                                    {{#if this.isAnonymous}}
                                        Anonymous
                                    {{else}}
                                        {{#each this.creditedStudents}}
                                            <a href="/profile/{{this.universityID}}">{{this.fullName}}</a>{{#unless @last}}, {{/unless}}
                                        {{/each}}
                                    {{/if}}
                                </td>
                                <td>{{this.purpose}}</td>
                                <td>
                                        <span class="badge {{#if (eq this.status 'Cancelled')}}bg-danger{{else}}bg-secondary{{/if}}">
                                            {{this.status}}
                                        </span>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <td colspan="8" class="text-center">No past reservations found.</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Reserve Lab Button -->
        <div class="text-center mt-4 mb-4">
            <a href="manage-reservations/create" class="btn btn-primary btn-lg">
                <i class="fas fa-plus-circle me-2"></i>Make a Reservation
            </a>
        </div>
    </div>
</section>

<!-- Add Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="../public/js/manageReservationsScripts.js"></script>
